.home-container {
    background-color: #021D3A;
    padding: 20px;
    border-radius: 20px;
    border-color: #FFD60A;
    border-style: solid;
    text-align: center;
    width: 410px;
    height: 310px;
  }

  .welcome-head {
    color: #fff;
    text-decoration: underline;
    font-size: 38px;
  }

  .home-container .home-input {
    background-color: transparent;
    border-style: solid;
    border-color: #FFD60A;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    width: 355px;
  }
  
  .join .join-buttons .joined {
    background-color: #FFD60A;
    border-radius: 9px;
    border-style: none;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    width: 180px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .rooms .join {
    background-color: #000813;
    border-radius: 15px;
    padding: 10px;
    color: #ffffff;
    border-color: #FFD60A;  
    border-style: solid;
    font-size: 18px;;
  } 

  .rooms .rooms-choice {
    color: #ffffff;
    text-align: initial;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .error-message .error-message-sent {
    font-size: 20px;
    color: #ffffff;
  }

