{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}
<form method="post">
    <h3>Enter the chat room</h3>
    <div>
        <label>Name:</label>
        <input type="text" placeholder="Insert name" name="name" value="{{name}}"/>
    </div>

    <div class="join">
        <input type="text" placeholder="Room code" name="room_code" value="{{room_code}}"/>
        <button type="submit" name="join" class="join">Join a room</button>
    </div>
     <button type="submit" name="create">Create a room</button>

    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}

</form>
{% endblock %}