{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}
<form method="post">
    <h3>Join the chat room</h3>
    <div>
        <input type="text" placeholder="Insert name" name="name" value="{{ request.args.get('name'  ) }}"/>
    </div>

    <div class="join">
        <input type="text" placeholder="Room code" name="room_code" value="{{room_code or '' }}"/>
        <div class="join-buttons">
            <button type="submit" name="join-room" class="joined">Join a room</button>
            <button type="submit" name="create" class="joined">Create a room</button>
        </div>    
    </div>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %} 
    <div class="rooms">
        <button type="submit" name="openpy" class="join" value="Python">Python</button>
        <button type="submit" name="java" class="join" value="Java">Java</button>
        <button type="submit" name="devops" class="join" value="DevOps">DevOps</button>
        <button type="submit" name="javascript" class="join" value="Java-Script">Java-Script</button>
    </div>
</form>


{% endblock %}