{% extends "base.html" %}

{% block title %}{{room_type}} Room{% endblock %}

{% block content %}
<h1>{{name}}</h1>
<div class="message-box">
    <h2>Welcome to {{room_type}} Room</h2>
    <div class="messages" id="messages"></div>
    <div class="inputs">
      <input type="text" rows="3" placeholder="Message" name="message" id="user_message"/>
      <button type="button" name="send" id="send-btn" onClick="sendMessage()">
        Send</button>
    </div>
  </div>
<form method="post" action="{{ url_for('home', name=name) }}">
  <button id="leave_room" name="leave_room" style="padding: 10px;">Leave Room</button>
</form>
  {% for msg in messages %}
<script type="text/javascript">
    createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %}
{% endblock %}